
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.container {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: #e4dedead;
    min-height: 2000px;
}

.title {
    padding: 10px;
    font-size: 40px;
    color: #302f2f;
}


.todo {
    
    /* color: #7c7979ab; */
}
.todo__item {
    margin: 2px 0;
    padding: 20px;
    border: 1px solid #7c7979ab;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.todo__close {
    cursor: pointer;
    
}
